<section class="card" [ngClass]="{ card__closed: raport.isClosed }">
  <div>
    <h2>{{ raport.month }}</h2>
    <p *ngIf="!raport.isAccepted">Oczekuje na zatwierdzenie</p>
    <ng-container *ngIf="!raport.isClosed">
      <p *ngFor="let project of raport.projects">[{{ project.name }}] - {{ project.workedHours }}h</p>
    </ng-container>
  </div>
  <div>
    <span class="working-hours">{{ raport.workedHours }}h</span> /{{ raport.hoursInMonth }}h
  </div>
</section>
