<section class="sidebar">
  <ng-container *ngFor="let sidebarLink of sidebarLinks">
    <h3>{{ sidebarLink.group }}</h3>
    <mat-divider></mat-divider>
    <mat-nav-list>
      <a mat-list-item [href]="link.href" *ngFor="let link of sidebarLink.links"> {{ link.name }} </a>
    </mat-nav-list>
  </ng-container>
</section>
