<mat-tab-group animationDuration="0">
  <mat-tab label="Pracownicy">
    <section class="tab-content">
      <ng-container *ngFor="let closedRaport of closedRaports">
        <app-closed-raports
          [closedRaport]="closedRaport"
          (click)="openRaportDetailsPopup(closedRaport)"
        ></app-closed-raports>
      </ng-container>
    </section>
  </mat-tab>
  <mat-tab label="Projekty">
    <section class="tab-content">
      <ng-container *ngFor="let project of projects">
        <app-project [project]="project"></app-project>
      </ng-container>
    </section>
  </mat-tab>
</mat-tab-group>
