<section class="card">
  <div>
    <h2>{{ employee.name }} {{ employee.surname }}</h2>
    <p>{{ employee.email }}</p>
  </div>
  <div><mat-icon (click)="deleteEmployee.emit(employee)">delete</mat-icon></div>
</section>
